In [2]:
import numpy as np
import pandas as pd
from chart_studio import plotly
import plotly.graph_objs as go
import chart_studio.plotly as plt
import psycopg2
import urllib3
import matplotlib
from plotly.offline import init_notebook_mode, iplot

In [3]:
df = pd.read_csv('CO2_emissions.csv')
df.head()

,iso_code,country,year,co2,co2_per_capita,co2_growth_prct,co2_growth_abs,cumulative_co2,share_global_co2,share_global_cumulative_co2,population,latitude,longitude
0,AFG,Afghanistan,1949,0.015,0.002,NaN,NaN,0.015,0.0,0.0,7624058.0,NaN,NaN
1,AFG,Afghanistan,1950,0.084,0.011,475.0,0.070,0.099,0.0,0.0,7752117.0,NaN,NaN
2,AFG,Afghanistan,1951,0.092,0.012,8.7,0.007,0.191,0.0,0.0,7840151.0,NaN,NaN
3,AFG,Afghanistan,1952,0.092,0.012,0.0,0.000,0.282,0.0,0.0,7935996.0,NaN,NaN
4,AFG,Afghanistan,1953,0.106,0.013,16.0,0.015,0.388,0.0,0.0,8039684.0,NaN,NaN

In [4]:
# min year in your dataset
year = 1750

In [5]:
# your color-scale
scl = [[0.0, '#FFFFFF'],[0.2, '#B4A8CE'],[0.4, '#8573A9'],
       [0.6, '#7159A3'],[0.8, '#5732A1'],[1.0, '#2C0579']] # purples

In [6]:
data_slider = []
for year in df['year'].unique():
    df_segmented =  df[(df['year']== year)]
    for col in df_segmented.columns:
        df_segmented[col] = df_segmented[col].astype(str)
    data_each_yr = dict(
                        type='choropleth',
                        locations = df_segmented['country'],
                        z=df_segmented['co2'].astype(float),
                        locationmode='USA-states',
                        colorscale = scl,
                        colorbar= {'title':'# CO2 Emissions'})
    data_slider.append(data_each_yr)
steps = []
for i in range(len(data_slider)):
    step = dict(method='restyle',
                args=['visible', [False] * len(data_slider)],
                label='Year {}'.format(i + 1750))
    step['args'][1][i] = True
    steps.append(step)
sliders = [dict(active=0, pad={"t": 1}, steps=steps)]
layout = dict(title ='CO2 Emissions by Country Since 1750', geo=dict(scope='usa',
                       projection={'type': 'albers usa'}),
              sliders=sliders)
fig = dict(data=data_slider, layout=layout)
periscope.plt(fig)

/var/folders/sf/szcr4fws0w7_1ftxzmwszrf00000gn/T/ipykernel_18480/2029560059.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

NameError: name 'periscope' is not defined